::deep .reviews-container {
  padding: 0 var(--screen-padding);
  max-width: var(--max-content-width);
  margin: 0 auto 3rem auto;
}

::deep .rating {
  margin-right: -0.25rem;
}

::deep .content,
::deep .created-info {
  line-height: 1;
}
