.container {
  overflow-y: auto;
  padding: 0 var(--screen-padding);
}

::deep .reviews-container {
  padding-bottom: 1rem;
}

::deep .rating {
  margin-right: -0.25rem;
}

::deep .content,
::deep .created-info {
  line-height: 1;
}
