.container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  padding: 1rem var(--screen-padding) 0.8rem var(--screen-padding);
  border-bottom: var(--divider-border);
  margin-bottom: 1.5rem;
  position: sticky;
  top: 0;
  background-color: var(--material-theme-sys-light-background);
  z-index: 10;
}

.header-arrow-back {
  display: flex;
  align-items: center;
}

.header-arrow-back ::deep i {
  font-size: var(--arrow-back-font-size);
}

::deep .title {
  text-align: center;
  justify-self: center;
  grid-column: 2/3;
  margin: 0;
}
