.menu-content {
  padding: 1.2rem 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.divider {
  border-top: 1px solid #d8d8d8; /* Assuming based on svg */
  width: 100%;
  height: 1px;
}
