.outer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

::deep .form {
  padding: 0 var(--screen-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 4rem;
}

.back-button ::deep i {
  font-size: 2.3rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

::deep .header-section {
  text-align: center;
}

::deep .user-name {
  font-weight: 500;
}

::deep .dropdown {
  margin-top: 1rem;
}

::deep .rating-control {
  margin-left: -0.3rem;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
}

::deep .review-input-container {
  width: 100%;
  max-width: 15rem;
  margin-bottom: 1.5rem;
}

::deep .review-input {
  width: 100%;
  resize: none;
  margin: 0.5rem 0;
}

::deep .char-count {
  margin-top: -0.2rem;
  color: var(--rz-text-secondary-color);
  font-size: 0.75rem;
}

::deep .crypto-switch {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

::deep .review-button {
  margin: 0 auto;
  display: block;
  position: fixed;
  bottom: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
}
