.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth__title {
  margin-bottom: 0.5rem;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.auth__label {
  display: flex;
  flex-direction: column;
}

.auth__submit {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  background-color: var(--material-theme-sys-light-primary);
  border: none;
  color: var(--material-theme-sys-light-on-primary);
  font-weight: 500;
  width: max-content;
  padding: 0.5rem 1.2rem;
  border-radius: 0.15rem;
  cursor: pointer;
}

.auth__errors {
  color: var(--material-theme-sys-light-error);
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
}

.auth__other-link {
  text-decoration: underline;
  color: var(--material-theme-sys-light-primary);
  margin-top: 0.5rem;
}
