.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: var(--screen-padding);
}

.onboarding__stack {
  max-width: 19.5rem;
}

.onboarding__title {
  font-weight: 600;
}

.onboarding__subtitle {
  font-weight: 600;
}

.onboarding__info-button {
  margin-top: 1.2rem;
}

.onboarding__button {
  white-space: nowrap;
}
