.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.chat-header {
  padding: 1rem;
  border-bottom: 1px solid var(--material-theme-sys-light-outline);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 3rem;
}

.back ::deep i {
  font-size: var(--arrow-back-font-size);
}

.chat-header-info {
  flex: 1;
  text-align: center;
}

.chat-header-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--material-theme-sys-light-on-background);
  margin: 0;
}

.chat-header-subtitle {
  font-size: 0.875rem;
  color: #6b6b6b;
  margin: 0.25rem 0 0 0;
}

.profile-button {
  justify-self: end;
}

::deep .chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  display: flex;
  padding: 0.625rem;
  border-radius: 4px;
  max-width: 60%;
  word-wrap: break-word;
  font-size: 0.8125rem;
  line-height: 1.4;
}

.message.received {
  align-self: flex-start;
  background-color: var(--material-theme-sys-light-surface-dim);
  color: var(--material-theme-sys-light-on-background);
}

.message.sent {
  align-self: flex-end;
  background-color: var(--material-theme-sys-light-secondary-container);
  color: var(--material-theme-sys-light-on-secondary-container);
}

::deep .message-text {
  margin: 0;
}

.chat-input-container {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

::deep .message-textbox {
  flex: 1;
}

::deep .send-button {
  height: 100%;
  aspect-ratio: 1/1;
}
