.page-container {
  height: 100vh;
  background-color: var(--material-theme-sys-light-background);
  position: relative;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid var(--material-theme-sys-light-outline-variant);
}

.header-text {
  margin: 0;
  color: var(--material-theme-sys-light-on-background);
}

.scroll-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

::deep .loading-spinner {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty-state-text {
  text-align: center;
  color: var(--material-theme-sys-light-on-surface-variant);
  margin-top: 2rem;
}

.chat-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

.chat-row {
  padding: 0.5rem 0;
}

.avatar {
  width: 54px;
  height: 54px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.text-content {
  flex: 1;
}

::deep .user-name {
  font-weight: 500;
  color: var(--material-theme-sys-light-on-surface);
  margin: 0;
}

.person-icon {
  color: var(--material-theme-sys-light-on-primary);
  font-size: 16px;
}

.divider {
  height: 1px;
  background-color: var(--material-theme-sys-light-outline-variant);
}
