.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--material-theme-sys-light-background);
}

.home-container {
  position: relative;
  padding: var(--screen-padding);
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::deep .home-container.map-mode {
  height: 100vh;
  overflow: hidden;
}

::deep .action-button {
  letter-spacing: 0.031rem;
  font-weight: 500;
}

.search-container {
  position: relative;
  width: 100%;
}

::deep .search-input {
  margin: 0;
  width: 100%;
}

::deep .search-icon {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--material-theme-sys-light-background);
  padding: 0 1rem;
}

::deep .cards-container {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

/* !TODO fix map */

.home-map-container {
  flex: 1;
}

/* In case the component renders a body tag improperly or uses it as a root */
.home-map-container body {
  height: 100%;
}

/* Hide the available maps (layers) control */
.home-map-container .leaflet-control-layers {
  display: none;
}
