.profile-container {
  padding: var(--screen-padding);
  position: relative;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.menu-list {
  margin-top: 0.5rem;
}

.logout {
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  display: block;
  text-decoration: underline;
}
