.request-container {
  padding-bottom: 2rem;
}

::deep .back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

::deep .image {
  background-color: #f1f1f1;
  height: 13.125rem;
  width: 100%;
}

::deep .title {
  font-weight: 600;
}

::deep .content-stack {
  padding: 1.5rem 1.25rem;
}

.divider {
  border-top: 0.0625rem solid #e0e0e0;
  width: 100%;
}

::deep .avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.user-info-flex {
  flex: 1;
}

::deep .report-text {
  color: var(--material-theme-sys-light-error);
  cursor: pointer;
}

::deep .report-icon {
  color: var(--material-theme-sys-light-error);
  font-size: 1rem;
}

::deep .star-icon {
  font-size: 1rem;
}

::deep .rating-text {
  line-height: 1;
}

::deep .reviews-text {
  color: var(--material-theme-sys-light-secondary);
  line-height: 1;
}

::deep .login-text {
  color: var(--material-theme-sys-light-secondary);
}

::deep .location-title {
  font-weight: 600;
}

::deep .action-buttons-container {
  margin-top: 1rem;
  background-color: var(--material-theme-sys-light-background);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem var(--screen-padding);
}

::deep .share-btn,
::deep .phone-btn {
  width: 25%;
}

::deep .message-btn {
  width: 50%;
}
