.container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  /* margin: var(--screen-padding); */
  padding: 1rem 0 0.8rem 0;
  border-bottom: var(--divider-border);
  margin-bottom: 1.5rem;
}

.header-arrow-back {
  display: flex;
  align-items: center;
}

.header-arrow-back ::deep i {
  font-size: var(--arrow-back-font-size);
}

::deep .title {
  text-align: center;
  justify-self: center;
  grid-column: 2/3;
  margin: 0;
}
